.form_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  gap: 24px;

  .confirm-button {
    width: 100%;
    height: 50px;
    background: var(--base-color);
    border: none;
    border-radius: 5px;
    color: #fff;

    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    grid-column: 1/3;
    margin-bottom: 25px;
    cursor: pointer;
    max-width: 500px;
    transition: all 0.3s ease-in-out;
    &:disabled {
      background: var(--base-color);
      opacity: 0.5;
      cursor: not-allowed;
      &:hover {
        color: #fff;
        background: var(--base-color);
      }
    }
    &:hover {
      background: #fcf9f7;
      color: var(--base-color);
    }
    @media (max-width: 430px) {
      max-width: 300px;
    }
  }

  .form__input--container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;

    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #0e0804;
    width: 100%;
    &.check {
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }

    .textbox {
      padding: 12px;
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid #ffd8c4;
    }
  }
}

.form_header_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  gap: 12px;
}

.form-header {
  font-weight: 400;
  font-size: 24px;
  line-height: 16px;
  color: #0e0804;
  width: 100%;
  @media (max-width: 430px) {
    font-size: 20px;
    width: 200px;
  }
}

.form-middle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  .form-header-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    opacity: 0.7;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
  .form-header-guest {
    font-weight: 400;
    font-size: 34px;
    line-height: 160%;
    opacity: 0.7;
  }
  .form-header-invites {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    opacity: 0.7;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
}

.error-text {
  font-style: italic;
  font-weight: 100;
  font-size: 12px;
  line-height: 100%;
  color: red;
}
.form-container-inputs {
  width: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 25px;

  @media (max-width: 1186px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  @media (max-width: 768px) {
    grid-template-columns: 2, 1fr;
  }
  @media (max-width: 430px) {
    grid-template-columns: 1, 1fr;
  }

  .form-input {
    border: 1px solid #eee;
    padding: 8px 14px;
    font-size: 16px;

    font-style: oblique;
    font-weight: 200;
    box-shadow: none;
    appearance: none;
    color: #f2c2a9;
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
    @media (max-width: 430px) {
      grid-column: 1/3;
      max-width: 300px;
    }
    &::placeholder {
      font-weight: 100;
      color: #d2d0cf;
    }
  }

  #email {
    grid-column: 1/3;
    @media (max-width: 1186px) {
      max-width: 414px;
    }
  }
  #select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #d2d0cf; /* Remove default arrow */
    option {
      color: #d2d0cf;
    }
  }
  #text-area {
    resize: none;
    height: 75px;
    grid-column: 1/3;
  }
}
